<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form  method="post" action="/add_tweet">
        <div>
        <label>title*</label>
        <div>
            <input type="title"  name="title">
        </div>
    </div>


    <div>
        <label>tweet*</label>
        <div>
            <input type="tweet"  name="tweet" maxlength="280" >
        </div>
    </div>
        

    <div>
        <input type="submit"/>
    </div>
    </form>

</body>
</html>